<template lang="pug">
    .wrapper
        header.header
            .company
                .company__link
                    a(:href="company_info.url") {{company_info.company}}
                .company__info
                    p {{company_info.text}}

        main.main
            .main__options
                .main__options__info
                    h2 Total Users: {{total}}
                .main__options__select
                    h2 Select count of users
                    select(@change="changeCount($event)")
                        option(v-for="num in total" :value="num" v-if="total") {{num}}
                        option(selected :value="6") Choose count...
                .main__options__search
                    h2 Search User
                    input(placeholder="Find users..." v-model="search")
            .main__table
                table
                    thead
                        tr
                            td(v-for="item in users_keys") {{item}}
                            td Profile
                    tbody(v-if="users_list !== ''")
                        tr( v-for="(users , index) in user_list")
                            td {{users.id}}
                            td {{users.email}}
                            td {{users.first_name}}
                            td {{users.last_name}}
                            td
                                img(:src="users.avatar")
                            td
                                button.btn.select(@click="openProfile(users.id)") Open
            .main__pagintation
                button.btn.select(:class="{'disabled' : current_page === 1}" @click="prev") prev
                button.btn(v-for="num in total_pages" @click="changePage(num)" :class="{'select' : current_page === num}") {{num}}
                button.btn.select(@click="next" :class="{'disabled' : current_page >= total_pages}") next
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Home',
    components: {},
    created() {
      this.getUserList()
    },
    data() {
      return {
        users_list: '',
        users_keys: {},
        company_info: {},
        per_page: 6,
        current_page: 1,
        total: '',
        total_pages: '',
        search: '',
      }
    },
    methods: {
      getUserList() {
        axios.get('https://reqres.in/api/users', {
          params: {
            page: this.current_page,
            per_page: this.per_page
          }
        })
          .then((res) => {
            this.users_list = res.data.data
            this.total = res.data.total
            this.company_info = res.data.ad
            this.users_keys = Object.keys(this.users_list[0])
            this.total_pages = Math.ceil(this.total / this.per_page)
          })
      },
      prev() {
        if (this.current_page > 1) {
          this.current_page--
        }
        this.getUserList()
      },
      next() {
        if (this.current_page < this.total_pages) {
          this.current_page++
        }
        this.getUserList()
      },
      changePage(num) {
        this.current_page = num
        this.getUserList()
      },
      changeCount(event) {
        this.per_page = event.target.value
        this.getUserList()
      },
      openProfile(id) {
        this.$router.push(`/user/${id}`)
      }
    },
    computed: {
      user_list() {
        return this.users_list.filter(users => {
          return users.first_name.toLowerCase().includes(this.search.toLowerCase())
        })
      }
    }
  }
</script>
<style lang="scss">
    body {
        .btn {
            outline: none;
            border: none;
            font-size: 20px;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 5px;
        }
        .select {
            background: cornflowerblue;
            color: #fff;
        }
        .disabled {
            opacity: .5;
            cursor: none;
        }
    }

    .wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        .company {
            &__link {
                font-size: 30px;
                color: #000;
                margin: 20px 0;
            }
        }
        .main {
            display: flex;
            flex-direction: column;
            &__options {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                &__select {
                    width: 30%;
                    select {
                        width: 100%;
                        height: 40px;
                    }
                }
                &__search {
                    width: 30%;
                    input {
                        height: 20px;
                        width: 100%;
                        border-radius: 3px;
                        border: 1px solid grey;
                        padding: 10px;
                    }
                }

            }
            &__table {
                width: 100%;
                table {
                    width: 100%;
                    margin: 30px 0;
                    thead {
                        background: lightblue;
                        tr {
                            height: 50px;
                            td {
                                font-weight: bold;
                                text-transform: capitalize;
                                font-size: 20px;
                            }
                        }
                    }
                    tbody {
                        background: beige;
                        img {
                            border-radius: 50%;
                        }
                    }
                }
            }
            &__pagintation {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
    }

</style>
