<template lang="pug">
    .user
        router-link.btn.select(to="/") Back Home
        h1 This is page about User # {{$route.params.id}}
        .user__profile
            .user__profile__item
                h3 Name :
                p {{user_list.first_name}}
            .user__profile__item
                h3 Surname :
                p {{user_list.last_name}}
            .user__profile__item
                h3 Email :
                p {{user_list.email}}
            .user__profile__item
                h3 Avatar
                img(:src="user_list.avatar")
</template>
<script>
  import axios from 'axios'
  export default {
    name : 'User',
    data() {
      return {
        user_list: {},
      }
    },
    created () {
      this.getUserList()
    },
    methods: {
      getUserList() {
        axios.get('https://reqres.in/api/users', {
          params: {
            id: this.$route.params.id
          }
        })
          .then((res) => {
            this.user_list = res.data.data
          })
      },
    }
  }
</script>

<style lang="scss">
    .user {
        a {
            text-decoration: none;
            margin: 20px 0;
        }
        &__profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 24px;
            &__item {
                display: flex;
                align-items: center;
                h3 {
                    padding:  0 10px;
                }
                img {
                    border-radius: 50%;
                }
            }
        }
    }
</style>
